<div class="row">
  <md-card >
    <md-card-header>
      <md-card-title>
        <h4>{{function.Name}}</h4></md-card-title>
      <md-card-subtitle>
        Function
      </md-card-subtitle>
    </md-card-header>
    <md-card-content>
      <md-tab-group>
        <md-tab label="Details">

          <div class="col-xs-6">
            <h4>Variables</h4>
            <p *ngIf="getVariables()?.length == 0">There are no variables being tracked in this function</p>
            <md-card *ngFor="let va of getVariables()" routerLink="/programs/variable/{{va._id}}">
              <md-card-header>
                <md-card-title>{{va.Name}}</md-card-title>
                <md-card-subtitle>{{va.Type}}</md-card-subtitle>
              </md-card-header>
              <md-card-content>
              </md-card-content>
            </md-card>
          </div>

          <div class="col-xs-6">
            <h4>States</h4>
            <p *ngIf="getStates()?.length == 0">There are no states tracked in this function</p>
            <md-card *ngFor="let state of getStates()">
              <md-card-header>
                <md-card-title>{{state.Cause}}</md-card-title>
                <md-card-subtitle>{{state._id}}</md-card-subtitle>
              </md-card-header>
              <md-card-content>
              </md-card-content>
            </md-card>
          </div>

        </md-tab>
      </md-tab-group>
    </md-card-content>
  </md-card>
</div>
