<div class="row">
  <div class="col-xs-12 center">
    <h4>Collectors</h4>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 clearfix createBar">
    <a class="pull-right createButton" md-raised-button routerLink="/collectors/add">Create Collector</a>
  </div>
</div>

<div class="cardList">

  <md-card *ngFor="let collector of Collectors" routerLink="/collectors/{{collector._id}}">
    <md-card-header>
      <md-card-title>{{collector.name}}</md-card-title>
      <md-card-subtitle><span *ngIf="collector.connected">Online</span>
        <span *ngIf="!collector.connected">Offline</span></md-card-subtitle>
    </md-card-header>
    <md-card-content>
    </md-card-content>
  </md-card>
</div>
