<div class="row deleteRow" *ngIf="collector">
  <div class="col-xs-12">
    <button class="delete pull-right" md-raised-button (click)="confirmDelete()"> Delete </button>
    <a class="pull-right edit" md-raised-button routerLink="/collectors/edit/{{collector._id}}">Edit</a>
  </div>

</div>
<div class="row">
  <md-card *ngIf="collector">
    <md-card-header>
      <md-card-title>
        <h4>{{collector.name}}</h4></md-card-title>
      <md-card-subtitle>
        <span *ngIf="!collector.connected">Offline</span>
        <span *ngIf="collector.connected">Online</span>
      </md-card-subtitle>
    </md-card-header>
    <md-card-content>
      <md-tab-group>
        <md-tab label="Details">

          <table align="center">
            <tr>
              <td> Token: </td>
              <td> {{collector.token}}</td>
            </tr>
            <tr>
              <td> Description: </td>
              <td style="padding-left:10px;"> A new collector</td>
            </tr>
          </table>

        </md-tab>
        <md-tab label="Program Instances">
          <div class="col-xs-12">
            <md-card class="instance" *ngFor="let instance of collector.Instances"
            routerLink="/programs/instance/{{instance._id}}">
              <md-card-header>
                <md-card-title>{{instance.Program.name}}</md-card-title>
                <md-card-subtitle>{{instance._id}}</md-card-subtitle>
              </md-card-header>
              <md-card-content>
              </md-card-content>
            </md-card>
          </div>




        </md-tab>
      </md-tab-group>
    </md-card-content>
  </md-card>
</div>
