<div class="row">
  <div class="col-xs-12 center">
    <h4>Programs</h4>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 clearfix createBar">
    <a class="pull-right createButton" md-raised-button routerLink="/programs/add">Create Program</a>
  </div>
</div>

<div class="cardList">

  <md-card *ngFor="let program of Programs" routerLink="/programs/{{program._id}}">
    <md-card-header>
      <md-card-title>{{program.name}}</md-card-title>
      <md-card-subtitle></md-card-subtitle>
    </md-card-header>
    <md-card-content>
    </md-card-content>
  </md-card>
</div>
